[mysqld]
port = 3306
socket = /var/lib/mysql/mysql.sock
bind-address=0.0.0.0
#max_connections=3985

########replication#########
server-id = 1                                      #указываем ID сервера, обычно начинаем с 1, но можно использовать любую цифру
report_host = master                               #хостнейм сервера можно указать ip
log_bin = /var/lib/mysql/mariadb-bin               #путь до журнала обновлений
log_bin_index = /var/lib/mysql/mariadb-bin.index   #позволяет узнать, какой журнал на данный момент активен и какие журналы ранее были использованы
relay_log = /var/lib/mysql/relay-bin               # путь до логов и репли
relay_log_index = /var/lib/mysql/relay-bin.index   #сами логи репликации
#replicate-do-db = bd-name                         #если нужно несколько БД, перечисляем через запятую (db1,db2,db3)
#binlog-ignore-db = db-name                        #исключить бд из реплики
#expire_logs_days = 10                             #время хранения bin_log в днях
#replicate-rewrite-db=имябдмастера->имябдслейв     #если данные с Master-сервера, записываются в БД не такого же названия

####################################################################
#service mariadb restart
#create user 'user_master'@'%' identified by 'passwd';
#grant replication slave on *.* to 'user_master'@'%';
#show master status; забрать значения полей file, position !!

