[mysqld]
port = 3306
socket = /var/lib/mysql/mysql.sock
bind-address=0.0.0.0
#max_connections=3985

########replication##########
server-id = 2
report_host = slave2
log_bin = /var/lib/mysql/mariadb-bin
log_bin_index = /var/lib/mysql/mariadb-bin.index
relay_log = /var/lib/mysql/relay-bin
relay_log_index = /var/lib/mysql/relay-bin.index

#STOP SLAVE;
#CHANGE MASTER TO MASTER_HOST='IP_master', MASTER_USER='user_master', MASTER_PASSWORD='passwd', MASTER_LOG_FILE='mariadb-bin.000001', MASTER_LOG_POS=664;
#START SLAVE;
#При настройке репликации для существующей базы данных MariDB перед стартом репликации нужно перевести базу данных в режим чтения, чтобы файл binlog не обновлялся. SET GLOBAL read_only = ON;
#также нужно создать дамп базы данных на мастере и раздампить на slave.
#SHOW SLAVE STATUS\G; Проверка статуса Slave
# для проверки создать БД на мастере и пырить в слэйв, должна появиться.
